.profilePic {
  width: 60%;
  display: flex;
  align-items: center;
  padding: 20px;
}
.profileContainer {
  display: flex;
  margin: 20px;
}

.name {
  margin-bottom: 1.5vw;
}
.email {
  margin-bottom: 1.5vw;
}
.password {
  margin-bottom: 1.5vw;
}
.cp {
  margin-bottom: 1.5vw;
}
.dp {
  margin-bottom: 1.5vw;
  /* width: 100%;
  height: auto; */
}
@media only screen and (max-width: 768px) {
  .profileContainer {
    flex-direction: column-reverse;
  }
}
